<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>webapp</title>
    <meta name="description" content="Webapp build on top of react & webpack3" />
    <meta name="Keywords" content="react,webpack" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--[if lt IE 10]> 亲爱的用户，为了良好的体检，建议您升级浏览器版本或更换常见的浏览器（IE10以上、Chrome、Safari等）
    <![endif]-->
    <script type="text/javascript">
        window.GLOBAL_ENV = '<%= GLOBAL_ENV %>';
    </script>
</head>

<body>
    <div id="app"></div>
</body>
</html>
